<div *ngIf="isLoading" class="text-center mt-5">
    <app-spinner></app-spinner>
    <div class="text-danger">Loading....</div>
</div>
<div class="alert alert-danger" *ngIf="error">
    {{ error }}
</div>
<div class="alert alert-success" *ngIf="message">
    {{ message }}
</div>
<div class="wrapper">
    <div class="row">
        <div class="col-md-3 mt-2 mb-3" *ngFor="let product of products">
            <div class="card">
                <img [src]="product.productImageURL" [alt]="product.productName" height="200px" width="100%">
                <div class="card-body">
                    <div>
                        {{ product.productName }}
                    </div>
                    <div>
                        {{ product.productPrice | currency : 'INR' }}
                    </div>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-warning me-3" data-bs-toggle="modal"
                        data-bs-target="#editProduct" *ngIf = "this.auth.isAdmin()" (click)=onEditProduct(product)>Edit</button>
                    <button class="btn btn-danger" *ngIf = "this.auth.isAdmin()" (click)="onDelete(product)">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="editProduct" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="editProductLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content ">
            <div class="modal-header ">
                <h5 class="modal-title fw-bold text-success" id="editProductLabel">Edit {{ selectedProductToEdit?.productName }}</h5>
                <button #close type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body">
                        <form #editProductForm="ngForm" *ngIf = "selectedProductToEdit" (ngSubmit) = "onFormSubmit()">
                            <div class="form-group">
                                <label for="productname" class="form-label">Product Name</label>
                                <input type="text" class="form-control" ngModel name="productName"
                                    #productName="ngModel" [(ngModel)] = "selectedProductToEdit.productName">
                            </div>
                            <div class="form-group">
                                <label for="productPrice" class="form-label">Product Price</label>
                                <input type="number" class="form-control" ngModel name="productPrice"
                                    #productPrice="ngModel" [(ngModel)] = "selectedProductToEdit.productPrice">
                            </div>
                            <div class="form-group">
                                <label for="productImageURL" class="form-label">Product ImageURL</label>
                                <input type="text" class="form-control" ngModel name="productImageURL"
                                    #productImageURL="ngModel" [(ngModel)] = "selectedProductToEdit.productImageURL">
                            </div>
                            <div class="form-group">
                                <label for="productDescription" class="form-label">Product Description</label>
                                <input type="text" class="form-control" ngModel name="productDescription"
                                    #productDescription="ngModel" [(ngModel)] = "selectedProductToEdit.productDescription">
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary ms-5 me-2">Submit</button>
                                <button type="reset" class="btn btn-secondary">Reset</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>